#todo{

    background-color: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
}

h4{

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    height: 100px;
    background-color: white;
    line-height: 100px;
    text-align: center;
}

.central{
    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #D9D9D9;
    background-color: white;
    display: inline-block;
}

.div{
  
    margin: 30px;
    padding: 10px;
    background-color: #D9D9D9;
    float: left;
}

img{
   
    height: 205px;
    width: 248.25px;  
}

.texto{

    margin-top: 10px;
    margin-bottom: 0px;
    padding: 30px;
    background-color: white;
}


